<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <% @transaction.errors.full_messages.each do |message| %>
      <div class="alert alert-danger" role="alert">
        Error: <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, class: "form-control" %>
      </div>
      <%= f.hidden_field :transaction_type %>
      <%= f.submit nil, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
